<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- springbean.xml  -->
	<!-- 스프링 빈 등록 -->
	
	<bean id="msgKO1" class="kr.co.itwill.di.MessageKO1"></bean>
	<bean id="msgEN1" class="kr.co.itwill.di.MessageEN1"></bean>
    
</beans>